
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
button {
  color: inherit;
}
button, [role="button"] {
  cursor: pointer;
}
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
img,
svg {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.my-6 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-8 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.bg-\[\#86efac\] {
  background-color: #86efac;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.py-6 {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-1 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.border-gray-500 {
  border-color: #6b7280;
}
.bg-white {
  background-color: #fff;
}
.flex {
  display: flex;
}
.wrap{
  flex-wrap: wrap;
}
.no-wrap{
  flex-wrap: nowrap;
}
.gap-8 {
  grid-gap: 2rem;
  gap: 2rem;
}
.font-bold {
  font-weight: 700;
}
.max-w-screen-md {
  max-width: 768px;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-around{
  justify-content: space-around;
}
.justify-end{
  justify-content: flex-end;
}
.justify-start{
  justify-content: flex-start;
}
.border-2 {
  border-width: 2px;
}
.rounded {
  border-radius: 0.25rem;
}
.hover\:bg-gray-200:hover {
  background-color: #e5e7eb;
}
.tabular-nums {
  font-variant-numeric: tabular-nums;
}
.bg-wolf{
  background-image: url(https://i.pinimg.com/originals/8f/d8/2a/8fd82af202ad61b0d6bc9d790b2db064.jpg);
}
.bg-mordecai{
  height: 1000px;
  background-image: url(https://pbs.twimg.com/media/E7qhNeqUYAEGAt0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-rainbow{
  animation: change-color 2s infinite alternate;
}
.comic-sans{
  font-family: "Comic Sans MS", "Comic Sans", fantasy;
}
.main{
  width: 1600px;
  cursor: wait;
}
.tittle{
  height: 200px;
  font-family:"Algerian" ;
  font-size: 50px;
  color: orange;
  border: 5px solid pink;
  background-image: url("https://gifdb.com/images/high/aesthetic-universe-galaxy-m17nhnv9hwflo8ss.gif");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.main-flex{
  height: 1000px;
  background-image: url(https://pbs.twimg.com/media/E7qhNeqUYAEGAt0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.quote-display{
  flex: 1 0 33.33%;
  font-family: "Comic Sans MS", "Comic Sans", fantasy;
  width: auto;
  height: auto;
  padding: 10px;
  margin: auto;
  align-content:center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid orange;
  background-color: rgba(0, 0, 0, 0.5);
}
.flex{
  display: flex;
}
.flex-start{
  align-items: flex-start;
}
.flex-end{
  align-items: flex-end;
}
.direction-column{
  flex-direction: column;
}
.quote-image{
  width: 300px;
  height: 300px;
  margin: auto;
  transition: content 0,3s ease;
  margin: 10%;
  border: 2px solid yellow;
  transition: content 2 ease;
}
.quote-image:hover{
  content: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRMJsiIuA5RkaoPem2CLJz3YgdrXTVXiNS-g&usqp=CAU);
  transform: rotateZ(-20deg);
}
.quote-text{
  min-width: 40%;
  min-height: 8%;
  font-size: 20px;
  text-align: center;
  animation: change-color 2s infinite alternate, beat 2s infinite;
  color: white;
  border-radius: 10px;
  align-self: center;
  border: 3px dotted black;
  transform: rotate(1.5deg);
}
.side-panel{
  flex: 1 0 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
}
.running-text{
  width: 200px;
  height: 50px;
  font-size: 20px;
  font-family: "Stencil";
  text-shadow: 3px 4px 2px #86efac;
  color: yellow;
  text-align: center;
  transition: all 50ms;
  border-radius: 10px;
}
.running-text:active{
  background-color: rgba(255, 72, 0, 0.375);
  transform: translate(-120px,-100px);
  content: "";
}
.popup{
  position: relative;
  max-height: 150px;
  top: 10%;
  width: 65%; 
  background-color: white;
  border-radius: 10px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  height: 10%;
  font-family: "Copperplate Gothic";
  border: 2px solid black;
  animation: popup 5s infinite;
  box-shadow: 0 5px 10px rgb(255, 0, 0);
}
.popup:hover{
  animation-play-state: paused;
  width: 70%;
  transform: scale(120%);
}
.profile-icon{
  height: 100%;
  width: 10%;
  border-right: 2px solid black;
  border-top-left-radius: 10px;
}
.popup-header{
  text-align: center;
}
.popup-message{
  flex: 0 0 10%;
  font-size: 14px;
  max-height: 100%;
  border-top: 2px solid black;
  text-overflow: ellipsis;
}
.videos-display{
  background-color: black;
  color: white;
  font-family: "Vivaldi";
  font-size: 20px;
  text-align: center;
}
.video-width{
  width: 33.3%;
}
.spinning-card{
  margin-bottom: 130px;
  transition: all 0.5s ease;
  border-radius: 7px;
  border: 3px solid black;
  animation: spin-card 1.2s infinite;
}


@keyframes change-color{
  0%{background-color: aqua;}
  20%{background-color: yellow;}
  40%{background-color: pink;}
  60%{background-color: red;}
  80%{background-color: blueviolet;}
  100%{background-color: green;}
}
@keyframes beat{
  0%{font-size: 100%;}
  20%{font-size: 75% ;}
  40%{font-size: 50%;}
  60%{font-size: 75%;}
  80%{font-size: 100%;}
  100%{font-size: 110%;}
}
@keyframes rotate{
  0%{transform: rotate(0deg);}
  20%{transform: rotate(72deg);}
  40%{transform: rotate(144deg);}
  60%{transform: rotate(216deg);}
  80%{transform: rotate(288deg);}
  100%{transform: rotate(360deg);}
}
@keyframes wiggle{
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}
@keyframes popup{
  0%{opacity: 0; size: 0%;}
  10%{opacity: 1; size: 100%;}
  30%{transform: translateX(-5px);}
  33%{transform: translateX(5px);}
  36%{transform: translateX(-5px);}
  39%{transform: translateX(5px);}
  42%{transform: translateX(0);}
  60%{opacity: 1; size: 100%;}
  100%{opacity: 0; size: 0%;}
}
@keyframes spin-card{
  0%{transform: rotateY(0deg);}
  25%{transform: rotateY(90deg);}
  50%{transform: rotateY(180deg); 
    content: url("https://w7.pngwing.com/pngs/745/93/png-transparent-the-call-of-cthulhu-french-tarot-playing-card-tarotology-others-rectangle-monochrome-symmetry-thumbnail.png");}
  75%{transform: rotateY(270deg);}
  100%{transform: rotateY(360deg);}
}