
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body{
  background-color: rgba(245, 245, 220, 0.634);
}
button {
  color: inherit;
}
button, [role="button"] {
  cursor: pointer;
}
code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}
img,
svg {
  display: block;
}
img,
video {
  max-width: 100%;
  height: auto;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
a{
  text-decoration: none;
  color: white;
}
h1{
  border-bottom: 2px solid black;
}
.transition-colors {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
.my-6 {
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.text-4xl {
  font-size: 2.25rem;
  line-height: 2.5rem;
}
.mx-2 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.my-4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.px-4 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.py-8 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.bg-\[\#86efac\] {
  background-color: #86efac;
}
.text-3xl {
  font-size: 1.875rem;
  line-height: 2.25rem;
}
.py-6 {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
}
.px-2 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.py-1 {
  padding-bottom: 0.25rem;
  padding-top: 0.25rem;
}
.border-gray-500 {
  border-color: #6b7280;
}
.bg-white {
  background-color: #fff;
}
.flex {
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.gap-8 {
  grid-gap: 2rem;
  gap: 2rem;
}
.font-bold {
  font-weight: 700;
}
.max-w-screen-md {
  max-width: 768px;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.border-2 {
  border-width: 2px;
}
.rounded {
  border-radius: 0.25rem;
}
.hover\:bg-gray-200:hover {
  background-color: #e5e7eb;
}
.tabular-nums {
  font-variant-numeric: tabular-nums;
}

.full-width{
  width: 100%;
}

.navigation-bar {
  background-color: rgb(132, 10, 10);
  color: white;
  display: flex ;
  font-size: 20px;
  height: 50px;
  align-self: center;
  justify-content: space-around;
  gap: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.navigation-button{
  width: 50%;
  text-align: center;
  transition: 0.4s all;
}
.navigation-button:hover{
 background-color: rgb(184, 1, 1);
 font-size: larger;
 border-bottom-left-radius: 10px;
 border-bottom-right-radius: 10px;
}

.home-page{
  text-align: center;
  font-size: larger;
  margin: 1rem;
  .home-page-greeting{
    width: 60%;
    margin: auto;
    align-self: center;
    animation: appear 1s ease-in;
    p{
      margin: 1rem;
      border-bottom: 2px solid gray;  
    }
  }
}

.characters-display {
  margin-top: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 25%;
  justify-content: space-between;
  background-color: rgba(245, 245, 220, 0.634);
}
.characters-display-grid{
  margin: 1rem;
  margin-top: 5px;
  display: grid;
  gap: 1rem;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit,minmax(320px, 350px));
  grid-template-rows: 400px auto;
  background-color: rgba(245, 245, 220, 0.634);
}
.character-display{
  margin: 4px;
  padding: 2px;
  height: 400px; 
  border: 3px solid black;

  align-items: center;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  h2{
    margin-top: 0.5rem;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }
  .delete-div{
    visibility: hidden;
  }
}
.character-display:hover{
  transform: scale(1.02);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.405);
  .delete-div{
    visibility: visible;
  }
}
.ch-image{
  align-self: center;
  height: 60%;
  width: 100%;
  border-radius: 6px;
}
.add-character-display{
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 1rem;
  text-align: center;
  gap: 1rem;
  h2{
    border-bottom: 1px solid gray;
  }
}
.character-form{
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgb(0,0,0,0.6);
  button{
    width: 20%;
    margin: auto;
    background-color: rgba(82, 82, 82, 0.797);
    border-radius: 10%;
    color: white;
  }
}
.error{
  color: red;
  background-color: rgba(255, 0, 0, 0.134);
  border: 1px solid red;  
}
.success{
  color:  rgb(0,255,0);
  background-color: rgba(0, 255, 0, 0.134);
  border: 1px solid rgb(0,255,0);
}
.delete-div{  
  display: flex;
  flex-direction: column;
  /*justify-content: flex-end;*/
  height: 15%;
  gap: 0.2rem;
  .delete-form{
    height: 50%;
    width: 50%;
    margin-left: 50%;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    padding: 0.1rem;
    input{
      width: 70%;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    button{
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      width: 20%;
     
      img{
        height: 100%;
        width: 100%;
      }
    }
  }
  .error{
    border-radius: 10px;
    transform: scaleY(0.9);
  }
}
.search-display{
  /*margin-top: 1rem;*/
  display: flex;
  border-top: 2px solid black;
  .character-display{
    align-self: center;
    width: 333px;
    margin: auto;
    margin-top: 1rem;
  }
}
.search-form{
  padding: 1rem;
  align-content: center;
  text-align: center;
  h2{
    font-weight: lighter;
    margin: 1rem  ;
  }
  .form{
    display: flex;
    justify-content: center;
    input{
      width: 40%;
      height: 30px;
    }
    button{
      height: 30px;
      img{
        height: 100%;
        width: 100%;
      }
    }
  }

}
.search-results{
  width: 25%;
  display: flex;
  flex-direction: column;
  border-right: 2px solid black;
  text-align: center;
  h3{
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
  }
  .links{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    a{
      color: black;
      width: 90%;
      margin: auto;
      border-radius: 10px ;
    }
    a:hover{
      background-color: rgba(128, 128, 128, 0.457);
    }
  }
}
.not-found-message{
  padding: 1rem;
  text-align: center;
  font-weight: bolder;
}

@keyframes disapear{
  from{opacity: 1;}
  to{opacity: 0;}
}
@keyframes appear{
  from{opacity: 0;}
  to{opacity: 1;}
}
